{% extends 'base_generic.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="no-shade card-box">
                <h4>{{ course }}</h4> {% if course.summary %}
                <p>{{ course.summary }}</p>
                {% endif %} {% if instructors %}
                <h6>Instructor(s)</h6> {% for instructor in instructors %}
                <a href="{% url 'student_detail' pk=instructor.pk%}">{{ instructor.first_name }} {{ instructor.last_name }}</a>
                <br/> {% endfor %} {% endif %}
            </div>
            {% load static %}
        </div>
    </div>
</div>
{% endblock %}