{% extends 'base_generic.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card-box">
                <h6>Programs</h6>
                <ul class="list-unstyled">
                    {% for permit in permits %}
                    <a href="{% url 'permit_single' pk=permit.pk %}"><li>{{ permit.name }}</li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="empty-box">
                <a href="{% url 'current_payments' %}" class="btn btn-primary">Payments</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}