{% extends 'base_generic.html' %}

{% block content %}
<form class="login card-box" method="post">
    {% csrf_token %}

    {% if user.is_authenticated %}
    <p class="lead text-center">Already logged in</p>
    {% else %}
    <h6>LOGIN</h6><br/>
    <div class="form-group">
        <label>
            <input class="form-control" id="username" name="username" placeholder="Username" type="text">
        </label>
    </div>
    <div class="form-group">
        <label>
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </label>
    </div>
    <input class="btn btn-primary" style="width: 100%" type="submit" value="Login"/>
    <hr/>
    {% endif %}
</form>
{% endblock %}