{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="login-form-section">
    <div id="login-form-section--inner">
        <div>
            <div>
                <div>
                    <h1>Registration</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ user_form|crispy }}
                        <input name="next" type="hidden" value="{{ next }}">
                        <button type="submit">Register</button>
                    </form>
                    <a href="{% url 'account:login'  %}">
                        Back to login
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}